header{
    grid-area: header;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

aside{
    grid-area: sidebar;
    padding: 20px;
}

main{
    grid-area: main;
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
#layout{
    @apply bg-white;
    display: grid;
    grid-template-columns: 1fr 4fr; // Sidebar takes 1 fraction of space, main takes 3
    grid-template-rows: auto 1fr auto; // Header and footer are auto-sized, main content is flexible
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
    min-height: 100vh; // Full viewport height
}

#root{
    @apply bg-main-200 w-full h-dvh;
}